 body { margin:0; padding:0; 
 font: 13px Arial;
 }
 html,body {
   height: 100%;
 }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  .form1_out {
        position: relative;
    display: table;
    margin: auto;
    padding: 20px 0 0;
  }
  .form1 label {
  position: relative;
      display: block;
    float: left;
  }
  .form1 label:hover {
  cursor: pointer;
  }
  .form1 label input {
  position: absolute;
  }
  .form1 label span {
  position: relative;
      float: left;
    background: black;
    color: white;
    padding: 10px 15px;
  }
  #cat {display: none;}
  * {
    outline: none;
  }
  .form1 label .active {
    background: lightseagreen;
  }
  .form1 input[type="text"] {
        float: left;
        padding: 10px;
    position: relative;
    width: 189px;
    border: 1px solid #ccc;
  }
  .form1 .from1 { border-width:1px 0 1px 0px !important;
  }
  .search-ui {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  }

.ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:absolute;
  top:50%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }
    
  .ui-to-bok {
    top: 20%; left: 10%; 
  }

.bln {
  border-left-width: 0 !important;
}
.brn {
  border-right-width: 0 !important;
}